body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none; 
    display: flex; 
    justify-content: space-evenly;
    padding: 0;
    gap: 20px;
    font-size: 18px;
}



#right_link{
    margin-left: auto;
}

.one{
    background-color: #1F2937;
    color: white;
    padding: 5px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title{
    display: flex;
    gap: 20px;
}


#logo{
    font-weight: bold;
    font-size: 24px;
    
}

#website{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 24px;
}

.font{
    font-size: 18px;
}

button{
    background-color: #3B82F6;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    border-color: #1F2937;
}

.footer{
   background-color: #1F2937;
   padding: 40px;
   color: white;
   text-align: center;
   font-size: 18px;
}

