.bold24px{
    font-weight: bold;
    font-size: 24px;
   
}



.button1,.button2{
    background-color: #3B82F6;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    border: solid;
}

.wrap_flex{
    flex-wrap: wrap;
}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.container{
    flex: 1;
    display: flex;
    flex-direction: column;
}



/********************** First Section ************************/

.one{
    background-color: #DC052D;
    color: white;
    padding: 5px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


/**** navbar */
ul{
    list-style-type: none; 
    display: flex; 
    justify-content: space-evenly;
    padding: 0;
    gap: 20px;
    font-size: 18px;
}

img{
    width: 50px;
    height: 50px;
}

#club_name{
    margin-top: 10px;
}


#right_link{
    margin-left: auto;
}


/*************** text *********/

.title{
    display: flex;
    justify-content: space-around;
   
    
}

#website{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 24px;
}


.image_box{
    height: 320px;
    width: 500px;
    background-color: #6D747D;
    background-image: url('images/team.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}



/**************************** Second Section **********************/

.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#info{
    font-weight: bold;
    font-size: 36px;  
}

.images{
    display: flex;
    gap:40px
}

.subImage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 250px;
   
}

.image{
    border-radius: 25px;
    border: 5px solid #DC052D;
    padding: 20px;
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;   
}

#image_1{
    background-image: url('images/lahm.jpg');
}

#image_2{
    background-image: url('images/neuer.jpg');
}

#image_3{
    background-image: url('images/ribery.jpg');
}

#image_4{
    background-image: url('images/robben.jpg');
}


/********************************** third Section *****************************/

.three{
    padding: 60px 500px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column; 
}

#quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 2px;
} 

#thor{
    align-self: flex-end;
}


/********************************** fourth Section ********************************/ 

.four{
    padding: 100px;
    
}

.round_box{
    margin: auto;
    border-radius: 10px;
    border: 5px solid #3B82F6;
    background-color: #3B82F6;
    padding: 20px 100px;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button2{
    border-color: white;
    align-self: center;
}

.round_box p{
    color: white;
    margin-bottom: 2px;
    margin-top: 3px;
}






/*************************************** Footer ***************************/

.footer{
    background-color: #DC052D;
    padding: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
 }
